<body class="sign-in">
  <div class="pull-right" id="sign_in">
    <h1>Sign in</h1>

    <% flash.each do |name, msg| %>
      <%= content_tag :p, msg, class: name %>
    <% end %>

    <%= form_for :session, url: sessions_path do |f| %>
    <div class="form-group" id="button">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control"  %>
    </div>

    <div class="form-group" id="button">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control"  %>
    </div>

    <div class="form-group" id="button">
      <%= f.submit 'Sign in', id: 'signin',  class: "btn btn-default btn-custom btn-lg btn-primary center-block"  %>
    </div>
  </div>
</div>
<% end %>


