<div class="profile">
  <div class="profile-list">
    <h1><%= @user.first_name%>  <%= @user.last_name %>'s Profile</h1>

      <p><%= @user.email %></p>

      <p><%= link_to "Edit", edit_user_path(@user) %></p>

    <h1 class="text-center">Favorite Wines</h1>

    <% current_user.wines.each do |wine| %>

      <div class="panel panel-default list-hover" style="margin-left: 15px; margin-right: 15px">
         <div class="panel-heading">
           <h3 class="panel-title"><%= link_to wine["name"], selection_path + "?&id=#{wine["snooth_id"]}&food=1" %></h3>
         <div class="panel-body">
           <div class="row">
             <div class="col-md-4">
              <a href="<%= selection_path + "?&id=#{wine["snooth_id"]}&food=1" %>"><img src="<%= wine["image_url"] %>" class="img-responsive"></a>
              </a>
             </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

</div>
