<h1>Search for a Wine:</h1>

<%= form_tag("/results", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>

  <%= label_tag(:n, "Limit Search to:") %>
  <%= select_tag(:n, options_for_select(1..100))%>

  <%= label_tag(:color, "Color:") %>
  <%= select_tag(:color, options_for_select(['red', 'white', 'rose', 'amber', 'clear']), {include_blank: 'name of your blank prompt'}) %>

  <%= submit_tag("Search") %>
<% end %>
