<body class="selection">
  <div class="selection-list">
    <% @wine.each do |wine| %>
      <div class="selection-title">
        <h1><%= wine["name"] %></h1>
          <h3><strong>Region</strong>: <%= wine["region"] %></h3>
      </div>
    <div class="header">
      <div class="selection-info">
        <img src="<%= wine["image"] %>" class="col-xs-4 img-rounded img-responsive">
        <p><strong>Vintage</strong>: <%= wine["vintage"]%></p>
        <p><strong>Varietal:</strong>: <%= wine["varietal"] %></p>
          <% if wine["sugar"] != '' %>
        <P class="bold"><strong>Attributes of Wine</strong></p>
          <p>
           <strong>Sugar:</strong> <%= wine["sugar"] %>g/l
           <strong>Alcohol:</strong> <%= wine["alcohol"] %>%
           <strong>pH:</strong> <%= wine["ph"] %>
           <strong>TA:(total acidity):</strong> <%= wine["acidity"] %>
          </p>
          <% end %>
          <% if wine["wm_notes"] != '' %>
        <p class="selection-info"><strong>Wine Maker's Notes</strong>: <%= wine["wm_notes"] %></p>
          <% end %>
      </div>
    </div>

    <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <strong>Reviews</strong>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <% wine["reviews"].each do |review|%>
          <% if review["body"] != '' %>
          <h5><strong><%= review["name"] %></strong></h5>
          <p><%= review["body"] %></p>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <strong>Recipes</strong>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <% wine["recipes"].each do |recipe|%>
          <div class="col-xs-6 col-md-4 thumbnail-list">
            <a href="<%= recipe["source_link"] %>" class="thumbnail image-w" data-toggle="tooltip" data-placement="top" title="<%= recipe["name"]%>">
              <img src="<%= recipe["image"] %>" class = "img-responsive" alt="...">
              <div class="cover">
                <p><%=recipe["name"] %></p>
              </div>
            </a>
          </div>

        <% end %>
        </div>
      </div>
    </div>
</div>

      <%= form_tag("/show", :method => 'get') do%>
        <p>
        <%= hidden_field_tag(:id, wine["code"]) %>
        <%= label_tag(:z, "Search Zip Codes:") %>
        <%= text_field_tag(:z, nil, placeholder: "Ex. 20001") %>
        <%= submit_tag 'Search' %>
        </p>
      <% end %>

      <% if signed_in? %>
      <%= form_tag user_favorites_path(@current_user) do %>

        <%= hidden_field wine["wine_code"], "snooth_id", value: wine["code"]  %>
        <%= hidden_field wine["wine_code"], "name", value: wine["name"]  %>
        <%= hidden_field wine["wine_code"], "region", value: wine["region"]  %>
        <%= hidden_field wine["wine_code"], "image_url", value: wine["image"]  %>

        <%= submit_tag 'Favorite' %>
      <% end %>
    <% end %>
  <% end %>
  </div>
</body>


